<header>

    <section class="headerSuperior">
        <div class="logo">
            <a class="imgLogo" href="../"><img src="../public/img/logo-mercado-liebre.svg" alt="Logo Mercado Liebre"> </img></a>
        </div>
        <div class="barraBusqueda">
            <form class="barraBusqueda">
                <input class="inputBusqueda" type="search" name="barradebusqueda" placeholder="Buscar productos, marcas">
                <div class="vl"> 
                    <button class="form-control fa fa-search" aria-hidden="true" type="submit" value="buscar"></button>
                </div>
            </form>
        </div>
        <p class="pHeader"><i class="fa fa-money" aria-hidden="true"></i> Comprá en cuotas y sin tarjeta de crédito.</p>
        
    </section>

    <section class="navBar">

        <div class="secciones1Navbar">
            <a class="seccionesGrales" href="../ofertas">Ofertas</a>
            <a class="seccionesGrales" href="../tiendas_oficiales">Tiendas Oficiales</a>
            <a class="seccionesGrales" href="../vender">Vender</a>
            <a class="seccionesGrales" href="../ayuda">Ayuda</a>
        </div>
        <br>
        <div class="secciones2Navbar">
            <a class="seccionesGrales" href="../register">Creá tu cuenta <i class="fa fa-id-card"></i></a> 
            <a class="seccionesGrales" href="../login">Ingresá <i class="fa fa-sign-in" aria-hidden="true"></i></a> 
            <a class="seccionesGrales" href="../carrito">Mis compras <i class="fa fa-shopping-cart"></i></a>
        </div>
        
    </section>

    <div class="menuHamburguesa">
        <i class="fa fa-bars fa-2x"></i>
    </div>
    
</header>