<!DOCTYPE html>
<html>

    <%- include("./partials/head") %>

    <body>
        
        <%- include("./partials/header") %>

        <main>
            <img class="banner" src="../public/img/img-home-banner.jpg" alt="Home Banner">
            <h3 class="titulosHome">Basado en tu última visita</h3>
            <section class="ultVisita">
                
                <div class="productos">
                    <div class="fotos">
                        <img src="../public/img/img-macbook-pro-2019.jpg" width="240" height="250" alt="MacBook Pro 2019"></img>
                    </div>
                    <div class="contDesc">
                        <i class="fa fa-truck fa-2x iconosDescripcion"></i>
                        <div class="precioDesc">
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% off</p>
                        </div>
                        <p class="nombre">MacBook Pro 2019</p>
                    </div>
                </div>
                <div class="productos">
                    <div class="fotos">
                        <img src="../public/img/img-samsung-galaxy-s10.jpg" width="240" height="250" alt="Samsung Galaxy S10"></img>
                    </div>
                    <div class="contDesc">
                        <i class="fa fa-truck fa-2x iconosDescripcion"></i>
                        <div class="precioDesc">
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% off</p>
                        </div>
                        <p class="nombre">Samsung Galaxy S10</p>
                    </div>
                </div>

                <div class="productos">
                    <div class="fotos">
                        <img src="../public/img/img-cafetera-moulinex.jpg" width="240" height="250" alt="Cafetera Moulinex"></img>
                    </div>
                    <div class="contDesc">
                        <i class="fa fa-truck fa-2x iconosDescripcion"></i>
                        <div class="precioDesc">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% off</p>
                        </div>
                        <p class="nombre">Cafetera Moulinex</p>
                    </div>
                </div>
                <div class="productos">
                    <div class="fotos">
                        <img src="../public/img/img-tv-samsung-smart.jpg" width="240" height="250" alt="TV Samgung Smart"></img>
                    </div>
                    <div class="contDesc">
                        <i class="fa fa-truck fa-2x iconosDescripcion"></i>
                        <div class="precioDesc">
                            <p class="precio">$150.000</p>
                            <p class="descuento">15% off</p>
                        </div>
                        <p class="nombre">TV Samgung Smart</p>
                    </div>
                </div>

            </section>
            <h3  class="titulosHome">Ofertas</h3>
            <section class="ofertas">
                
                <div class="productos">
                    <div class="fotos">
                        <img src="../public/img/img-cafetera-moulinex.jpg" width="240" height="250" alt="Cafetera Moulinex"></img>
                    </div>
                    <div class="contDesc">
                        <i class="fa fa-truck fa-2x iconosDescripcion"></i>
                        <div class="precioDesc">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% off</p>
                        </div>
                        <p class="nombre">Cafetera Moulinex</p>
                    </div>
                </div>
                <div class="productos">
                    <div class="fotos">
                        <img src="../public/img/img-tv-samsung-smart.jpg" width="240" height="250" alt="TV Samgung Smart"></img>
                    </div>
                    <div class="contDesc">
                        <i class="fa fa-truck fa-2x iconosDescripcion"></i>
                        <div class="precioDesc">
                            <p class="precio">$150.000</p>
                            <p class="descuento">15% off</p>
                        </div>
                        <p class="nombre">TV Samgung Smart</p>
                    </div>
                </div>

                <div class="productos">
                    <div class="fotos">
                        <img src="../public/img/img-macbook-pro-2019.jpg" width="240" height="250" alt="MacBook Pro 2019"></img>
                    </div>
                    <div class="contDesc">
                        <i class="fa fa-truck fa-2x iconosDescripcion"></i>
                        <div class="precioDesc">
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% off</p>
                        </div>
                        <p class="nombre">MacBook Pro 2019</p>
                    </div>
                </div>
                <div class="productos">
                    <div class="fotos">
                        <img src="../public/img/img-samsung-galaxy-s10.jpg" width="240" height="250" alt="Samsung Galaxy S10"></img>
                    </div>
                    <div class="contDesc">
                        <i class="fa fa-truck fa-2x iconosDescripcion"></i>
                        <div class="precioDesc">
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% off</p>
                        </div>
                        <p class="nombre">Samsung Galaxy S10</p>
                    </div>
                </div>

            </section>

        </main>

        <%- include("./partials/footer") %>

    </body>

</html>    