<!DOCTYPE html>
<html>

    <%- include("./partials/head") %>

    <body>
        
        <%- include("./partials/header") %>
        
        <main>
            <img class="banner" src="../public/img/img-home-banner.jpg" alt="Home Banner">
  
            <section class="contLogin">
                <form class="login" action="login.html" method="POST">
                    <input class="inptLogin" type="text" name="usuario" placeholder="Nombre de usuario">
                    <br>
                    <input class="inptLogin" type="password" name="contraseña" placeholder="Contraseña" minlength="8">
                    <br>
                    <button class="btnLogin" type="submit" value="Enviar">Log In</button>

                </form>

            </section>

        </main>

        <%- include("./partials/footer") %>

    </body>

</html>    