<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="/public/css/Styles.css"></link> 
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8">
        <title>TP2</title>
    </head>
    <body>
        
        <header>

            <section class="headerSuperior">
                <div class="logo">
                    <a class="imgLogo" href="../views/home.html"><img src="../public/img/logo-mercado-liebre.svg" alt="Logo Mercado Liebre"> </img></a>
                </div>
                <div class="barraBusqueda">
                    <form class="barraBusqueda">
                        <input class="inputBusqueda" type="search" name="barradebusqueda" placeholder="Buscar productos, marcas">
                        <div class="vl"> 
                            <button class="form-control fa fa-search" aria-hidden="true" type="submit" value="buscar"></button>
                        </div>
                    </form>
                </div>
                <p class="pHeader"><i class="fa fa-money" aria-hidden="true"></i> Comprá en cuotas y sin tarjeta de crédito.</p>
                
            </section>

            <section class="navBar">

                <div class="secciones1Navbar">
                    <a href="http://localhost:3000/">Ofertas</a>
                    <a href="http://localhost:3000/">Tiendas Oficiales</a>
                    <a href="http://localhost:3000/">Vender</a>
                    <a href="http://localhost:3000/">Ayuda</a>
                </div>
                <br>
                <div class="secciones2Navbar">
                    <a href="../views/register.html">Creá tu cuenta <i class="fa fa-id-card"></i></a> 
                    <a href="../views/login.html">Ingresá <i class="fa fa-sign-in" aria-hidden="true"></i></a> 
                    <a href="http://localhost:3000/">Mis compras <i class="fa fa-shopping-cart"></i></a>
                </div>
                
            </section>

            <div class="menuHamburguesa">
                <i class="fa fa-bars fa-2x"></i>
            </div>
            
        </header>

        <main>
            <img class="banner" src="../public/img/img-home-banner.jpg" alt="Home Banner">

            <section class="contRegister">
                <form class="registro" action="home.html" method="POST">
                    <input class="inptRegister gral" type="text" name="nombre" placeholder="Nombre" minlength="3">
                    <input class="inptRegister gral" type="text" name="apellido" placeholder="Apellido">
                    <input class="inptRegister gral" type="text" name="usuario" placeholder="Nombre de usuario">
                    <input class="inptRegister gral" type="email" name="email" placeholder="E-mail">
                    <input class="inptRegister gral" type="password" name="contraseña" placeholder="Contraseña" minlength="8">
                    <input class="inptRegister gral" type="password" name="contraseñart" placeholder="Confirmar contraseña" minlength="8">
                    
                    <div class="direccion">
                        <input class="inptDirecc gral" type="text" name="direccion" placeholder="Calle">
                        <input class="inptNum gral" type="text" name="número" placeholder="Número">

                    </div>
                    <div class="ciudPostal">
                        <select class="inptCiudad gral" type="text" name="provincia">
                            <option value="1">Buenos Aires</option>
                            <option value="2">Capital Federal</option>
                            <option value="3">Catamarca</option>
                            <option value="4">Chaco</option>
                            <option value="5">Chubut</option>
                            <option value="6">Córdoba</option>
                            <option value="7">Corrientes</option>
                            <option value="8">Entre Ríos</option>
                            <option value="9">Formosa</option>
                            <option value="10">Jujuy</option>
                            <option value="11">La Pampa</option>
                            <option value="12">La Rioja</option>
                            <option value="13">Mendoza</option>
                            <option value="14">Misiones</option>
                            <option value="15">Neuquén</option>
                            <option value="16">Río Negro</option>
                            <option value="17">Salta</option>
                            <option value="18">San Juan</option>
                            <option value="19">San Luis</option>
                            <option value="20">Santa Cruz</option>
                            <option value="21">Santa Fe</option>
                            <option value="22">Santiago del Estero</option>
                            <option value="23">Tierra del Fuego</option>
                            <option value="24">Tucumán</option>
                        </select>
                        <input class="inptPostal gral" type="text" name="codPostal" placeholder="Código postal">
                    </div>
                    <p class="miniTitulos mtG">Fecha de nacimiento:</p>
                    <div class="nacimiento">
                        <input class="inptFecha gral" type="date" name="fechaNac" value="Fecha de Nacimiento">
                    </div>
                    <p class="tituloPU mtG">Perfil de usuario:</p>
                    <div class="perfilUsuario">
                        <input type="radio" name="perfil" value="comprador"> 
                        <label>Comprador</label>
                        <input type="radio" name="perfil" value="vendedor">
                        <label>Vendedor</label>
                    </div>

                    <p class="tituloInt mtG">Intereses:</p>

                    <div class="intereses">
                        <input type="checkbox" name="interes" value="Electro">
                        <label>Electro</label>
                        <input type="checkbox" name="interes" value="Moda">
                        <label>Moda</label>
                        <input type="checkbox" name="interes" value="Hogar">
                        <label>Hogar</label>
                        <input type="checkbox" name="interes" value="Juguetería">
                        <label>Juguetería</label>
                        <input type="checkbox" name="interes" value="Fitness">
                        <label>Fitness</label>
                    </div>

                    <p class="tituloFP mtG">Foto de perfil:</p>
                    <input class="inptFoto" type="file" name="fotoPerfil" value="fotoPerfil">

                    <button class="btnRegister" type="submit" value="Enviar">Registrarse</button>
                    <button class="btnRegister" type="reset" value="Enviar">Clear</button>
                </form>

            </section>

        </main>

        <footer>
            <div class="cajaGrande">
                <div class="uno">
                    <i class="fa fa-credit-card fa-3x iconos"></i>
                    <h2></i>Pagá con tarjeta o efectivo</h2>
                    <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </div
                >
                <div class="dos">
                    <i class="fa fa-truck fa-3x iconos"></i>
                    <h2>Envío gratis desde los $ 2.500</h2>
                    <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
                </div>

                <div class="dos">
                    <i class="fa fa-lock fa-3x iconos"></i>
                    <h2>Seguridad de principio a fin</h2>
                    <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@.</p>
                </div>
            </div>
                
            <div class="copy">Copyright © 1999-2021 MercadoLiebre S.R.L.</div>
            
        </footer>

    </body>

</html>    